.table-header-nowrap th {
  white-space: nowrap;
}

.comboitem:hover i.fa-regular,
.comboitem:not(:hover) i.fa-solid {
  display: none;
}

@media (max-width: 576px) {
  /* Bootstrap's "sm" breakpoint */
  .table {
    font-size: 0.8rem; /* adjust as needed */
  }
}
