@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

a {
  text-decoration: none;
}

@import 'tailwindcss';

@import url(variables.css);
@import url(rainbow.css);

.links a:hover {
  color: var(--bs-emphasis-color) !important;
}

.links a.text-body-emphasis .fa-regular,
.links a:not(.text-body-emphasis) .fa-solid {
  display: none;
}

.text-bg-warning.text-bg-warning-light {
  background-color: #f3e68e !important;
}

.homeblock {
  & > i {
    opacity: 0.8;
  }
  &:hover {
    border-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;

    & > i {
      transform: scale(1.1);
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}
