@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header {
  color: white;
  background-color: #189ad8;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.header-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  /* transition: 0.3s; */
}

.header-submenu:hover .header-link,
.header-link:hover {
  color: #334242;
}

.header-submenu {
  position: relative;
}

.header-submenu .header-link {
  vertical-align: top;
}

.header-submenu:not(:hover) > div {
  display: none;
}

.header-submenu > div {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
}

.header-submenu > div > div {
  background: white;
  padding: 10px 0;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.header-submenu div a {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  color: #334242;
  text-decoration: none;
}

.header-submenu div a:hover {
  color: #00c1c1;
}
