#result tr:last-child td:last-child {
  color: var(--bs-success);
}

#result tr:last-child td:nth-child(1) {
  color: var(--bs-primary) !important;
}

#result tr:last-child td:nth-child(2) {
  color: var(--bs-warning) !important;
}
