:root,
[data-bs-theme='light'] {
  --bs-primary: #11598b;
  --bs-primary-rgb: 17, 89, 139;

  --bs-warning: #fabd05;
  --bs-warning-rgb: 250, 189, 5;

  --bs-success: #49a85d;
  --bs-success-rgh: 73, 168, 93;
}

[data-bs-theme='dark'] {
  color-scheme: dark;
}
